.containerAll {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.containerImg {
	display: flex;
	justify-content: center;
}
.containerImg img {
	width: 40%;
	height: auto;
}

.containerTitle {
	font-family: cursive;
	font-size: 25px;
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

.formContainer {
	padding: 0 17%;
}

.containerButtonSend {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.messageError {
	font-family: cursive;
	font-size: 13px;
	color: red;
}
