:root {
	--colorButtons: #31a1a7;
	--colorSecondaryButtons: white;
	--colorScreen: #7dd8b4;
	--colorBorder: #00b6d0;
	--colorMenuTab: #006e7d;
	--secondIconTab: #43bdc3;
	--firstIconTab: #00e3ee;

	--fontBoogaloo: 'BoogalooRegular';
	--fontCaveat: 'CaveatBrushRegular';
	--fontChicle: 'ChicleRegular';

	--fontDynaPuff: 'DynaPuffVariableFont';
	--fontGluten: 'GlutenVariableFont';

	--fontItim: 'ItimRegular';
	--fontShantellItalic: 'ShantellSansItalic';
	--fontShantell: 'ShantellSans';
}
