@import url("../../../styles/__styles.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  background-color: #31a1a7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50dvh;
}
.containerIconimage {
  background-color: white;
  border-radius: 50%;
  padding: 8%;
}
.imgIcon {
  width: 50dvw;
  height: 22dvh;
  padding-bottom: 15px;
}
.containerHeader {
  border: 3px solid green;
}

.containerFooter {
  width: 100%;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
}
.containerFooter h1 {
  color: #31a1a7;
  margin-bottom: 3rem;
}
.containerFooter p {
  font-size: 18px;
}
